<template>
  <div class="container mx-auto h-full p-4 bg-white">
    <div class="flex flex-row flex-wrap">
      <div class="w-full sm:w-1/2 border px-2">
        <div class="m-4 font-bold">Assign a Lab to test a crop!</div>
        <ApproveLab/>
      </div>
       <!-- <div class="w-1/2 border">ccc</div> -->
    </div>
  </div>
</template>
<script>
import ApproveLab from '@/components/ApproveLab.vue';

export default {
  name: "home",
  components: {
    ApproveLab
  },
  data: () => ({}),
  computed: {
   
  }
};
</script>

