<template>
  <div class="container mx-auto h-full p-4 bg-white">
    <div class="flex flex-row flex-wrap  items-center justify-evenly">
      <button @click="()=>{$router.push('/grower')}" class="border p-4 btn-blue m-4">(Grower) Submit a New Crop</button>
      <!-- <Icon class="text-success h-12 w-12" icon="arrow-right-circle-outline" strokewidth="1" /> -->
      <button @click="()=>{$router.push('/gov')}" class="border p-4 btn-blue m-4">(Regulator) Assign Lab</button>  
      <!-- <Icon class="text-success h-12 w-12" icon="arrow-right-circle-outline" strokewidth="1" />     -->
      <button @click="()=>{$router.push('/lab')}" class="border p-4 btn-blue m-4">(Lab) Submit Test Result</button>

      
    </div>
  </div>
</template>
<script>
export default {
  name: "home",
  data: () => ({}),
  computed: {}

};
</script>
<style>

</style>