<template>
  <div class="container mx-auto h-full p-4 bg-white">
    <div class="flex flex-row flex-wrap">
      <div class="w-full sm:w-1/2 border px-2">
        <div class="m-4 font-bold">Submit a test reult</div>
        <ValidateSample/>
      </div>

    </div>
  </div>
</template>
<script>
import ValidateSample from '@/components/grower/ValidateSample.vue';


export default {
  name: "home",
  components: {
    ValidateSample
  },
  data: () => ({}),
  computed: {
   
  }
};
</script>
