<template>
  <div class="w-full max-w-lg">
    <!-- <div class="md:flex md:items-center mb-3">
      <div class="md:w-1/3">
        <label class="cht-form-label" for="crop-id">Crop Id:</label>
      </div>
      <div class="md:w-2/3">
        <input class="cht-form-input" id="crop-id" type="text" v-model="cropId" placeholder />
      </div>
    </div>-->
    <div class="md:flex md:items-center mb-3">
      <div class="md:w-1/3">
        <label class="cht-form-label" for="size">Size:</label>
      </div>
      <div class="md:w-2/3">
        <input class="cht-form-input" id="size" type="text" v-model="size" placeholder />
      </div>
    </div>
    <div class="md:flex md:items-center mb-3">
      <div class="md:w-1/3">
        <label class="cht-form-label" for="location">Location:</label>
      </div>
      <div class="md:w-2/3">
        <input
          class="cht-form-input"
          id="location"
          type="text"
          v-model="location"
          placeholder="lattitude, longitude"
        />
      </div>
    </div>
    <div class="md:flex md:items-center mb-3">
      <div class="md:w-1/3">
        <label class="cht-form-label" for="harvest-date">Harvest Date:</label>
      </div>
      <div class="md:w-2/3">
        <datepicker
          :format="'MM/dd/yyyy'"
          class="cht-form-input"
          id="harvest-date"
          v-model="harvestDate"
          placeholder="Select Date"
        ></datepicker>
      </div>
    </div>

    <div class="flex justify-around">
      <button @click="saveNewHarvest" class="border btn-success m-4">Submit</button>
    </div>
    <div class="flex justify-around"> <div class="font-mono font-semibold">{{status}}</div></div>

  </div>
</template>
<script>
import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
import CHTContract from "../../contracts/CHTContract";
import { ethers } from "ethers";

const chtContract = new CHTContract();

export default {
  name: "newCrop",
  props: {},
  async mounted() {
    window.ethereum.enable()
  },
  components: {
    Datepicker
  },
  data: () => ({
    size: "",
    location: "",
    harvestDate: "",
    status: ""
  }),
  methods: {
    async saveNewHarvest() {
      const data = {
        size: this.size,
        location: this.location,
        harvestDate: this.harvestDate
      };
      const ipfs = await this.$ipfs;

      for await (const result of ipfs.add(JSON.stringify(data))) {
        this.status = "added to ipfs"
        const provider = new ethers.providers.Web3Provider(
          window.web3.currentProvider
        );
        const signer = provider.getSigner();
        console.log(signer)
        let address = await signer.getAddress();
        this.status = "please confirm the transaction in MM"
        const cropId = await chtContract.newHarvest(
          address,
          result.path
        );
        this.status = cropId?`Stored #${cropId} for you`:"error"
       
      }
    }
  }
};
</script>
<style>
.cht-form-label {
  @apply block text-grey-darker font-bold mb-1 pr-4;
}

.cht-form-input {
  @apply bg-grey-lightest appearance-none border border-grey-light  w-full py-2 px-4 text-grey-dark leading-tight;
}
.cht-form-input:focus {
  @apply outline-none bg-white border-secondary;
}
@screen md {
  .cht-form-label {
    @apply text-right mb-0;
  }
}
</style>