<template>
  <div class="w-full max-w-lg">
   
    <div class="md:flex md:items-center mb-3">
      <div class="md:w-1/3">
        <label class="cht-form-label" for="size">CropId:</label>
      </div>
      <div class="md:w-2/3">
        <input class="cht-form-input" id="size" type="text" v-model="cropId" placeholder="Crod Id the sample is from" />
      </div>
    </div>
    <div class="md:flex md:items-center mb-3">
      <div class="md:w-1/3">
        <label class="cht-form-label" for="size">Size:</label>
      </div>
      <div class="md:w-2/3">
        <input class="cht-form-input" id="size" type="text" v-model="size" placeholder />
      </div>
    </div>
    <div class="md:flex md:items-center mb-3">
      <div class="md:w-1/3">
        <label class="cht-form-label" for="harvest-date">Test Date:</label>
      </div>
      <div class="md:w-2/3">
        <datepicker
          :format="'MM/dd/yyyy'"
          class="cht-form-input"
          id="harvest-date"
          v-model="testDate"
          placeholder="Select Date"
        ></datepicker>
      </div>
    </div>
    <div class="md:flex md:items-center mb-3">
      <div class="md:w-1/3">
        <label class="cht-form-label" for="location">Laboratory:</label>
      </div>
      <div class="md:w-2/3">
        <input
          class="cht-form-input"
          id="location"
          type="text"
          v-model="laboratory"
          placeholder="Your lab ID"
        />
      </div>
    </div>
 <div class="md:flex md:items-center mb-3">
      <div class="md:w-1/3">
        <label class="cht-form-label" for="location">Method:</label>
      </div>
      <div class="md:w-2/3">
        <input
          class="cht-form-input"
          id="location"
          type="text"
          v-model="method"
          placeholder=""
        />
      </div>
    </div>    
 <div class="md:flex md:items-center mb-3">
      <div class="md:w-1/3">
        <label class="cht-form-label" for="location">Range(+/-):</label>
      </div>
      <div class="md:w-2/3">
        <input
          class="cht-form-input"
          id="location"
          type="text"
          v-model="range"
          placeholder="Your lab ID"
        />
      </div>
    </div>

     <div class="md:flex md:items-center mb-3">
      <div class="md:w-1/3">
        <label class="cht-form-label" for="location">Result:</label>
      </div>
      <div class="md:w-2/3">
        <input
          class="cht-form-input"
          id="location"
          type="text"
          v-model="result"
          placeholder="Test Result"
        />
      </div>
    </div>
    <div class="flex justify-around">
      <button @click="registerSample" class="border btn-success m-4">Submit</button>
    </div>
    <div class="flex justify-around"> <div class="font-mono font-semibold">{{status}}</div></div>

  </div>
</template>
<script>
import Datepicker from "vuejs-datepicker/dist/vuejs-datepicker.esm.js";
import CHTContract from "../../contracts/CHTContract";


const chtContract = new CHTContract();

export default {
  name: "validateSample",
  props: {},
  async mounted() {

  },
  components: {
    Datepicker
  },
  data: () => ({
    cropId: "",
    size: "",
    laboratory: "",
    testDate: "",
    method: "",
    range: "",
    result: "",
    status: ""
  }),
  methods: {
    // function registerSample(uint256 cropId, string memory sampleJsonIpfsHash)
    async registerSample() {
      const data = {
        cropId: this.cropId,
        size: this.size,
        laboratory: this.laboratory,
        testDate: this.testDate,
        method: this.method,
        range: this.range,
        result: this.result
      };
      const ipfs = await this.$ipfs;

      for await (const result of ipfs.add(JSON.stringify(data))) {
        this.status = "added to ipfs"

        this.status = "please confirm the transaction in MM"
        await chtContract.registerSample(
          (this.cropId*1),
          result.path
        );
        this.status = this.cropId?`Stored sample on #${this.cropId} for you`:"error"
       
      }
    }
  }
};
</script>
<style>
.cht-form-label {
  @apply block text-grey-darker font-bold mb-1 pr-4;
}

.cht-form-input {
  @apply bg-grey-lightest appearance-none border border-grey-light  w-full py-2 px-4 text-grey-dark leading-tight;
}
.cht-form-input:focus {
  @apply outline-none bg-white border-secondary;
}
@screen md {
  .cht-form-label {
    @apply text-right mb-0;
  }
}
</style>