<template>
  <div class="bg-neutral-1 mb-1 font-semibold text-primary">
    <div
      class="flex justify-between sm:flex-no-wrap items-center bg-neutral-1"
    >
      <!-- Left side -->
      <div class="flex flex-1 justify-start items-center">
        <div class="inline mx-1 sm:hidden">
          <a @click="toggle">
            <Icon class="text-primary h-8 w-8" icon="menu" strokewidth="1" />
          </a>
        </div>
        <router-link class="no-underline" to="/">
          <div class="flex text-xl items-center sm:text-2xl">
            <span class="text-primary font-extrabold tracking-tight">{{title}}</span>
          </div>
        </router-link>
      </div>
     
      <!-- right  side -->
      <div class="flex flex-no-wrap hidden text-sm sm:text-base sm:inline-block md:px-4">
          <!-- <router-link
            v-for="link in links"
            :key="link.name"
            :class="$route.name === link.name ? 'border-b border-secondary'  : 'border-b border-neutral-1'"
            class="inline-block hover:border-b hover:border-sec mr-6"
            :to="link.to"
          >{{link.text}}</router-link> -->
      </div>
    </div>
    <!-- sidenav -->
    <div ref="mySidenav" class="sidenav">
      <a @click="toggle" class="closebtn">&times;</a>
      <!-- <a v-for="link in links" :key="link.name" @click="navigateTo(link.to)">{{link.text}}</a> -->
    </div>
    
  </div>
</template>

<script>
const routes = [
  // {
  //   name: "home",
  //   to: "/",
  //   text: "Home"
  // },
  {
    name: "grower",
    to: "/grower",
    text: "Grower"
  },
  {
    name: "lab",
    to: "/lab",
    text: "Lab"
  },
  
   {
    name: "gov",
    to: "/gov",
    text: "Gov"
  },
   {
    name: "validate",
    to: "/validate",
    text: "Validate"
  },
];

export default {
  name: "navbar",

  computed: {
    links() {
      return routes;
      // console.log(routes)
      // return [];
    }
  },
  data: () => ({
    open: false,
    title: "Colorado Hemp Tracker"
  }),
  methods: {
    toggle() {
      this.open = !this.open;
      if (this.open) {
        this.$refs.mySidenav.style.width = "150px";
      } else {
        this.$refs.mySidenav.style.width = "0";
      }
    },
    navigateTo(dest) {
      this.$router.push(dest);
      this.toggle();
    }
  }
};
</script>
<style scoped>
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.sidenav .closebtn {
  line-height: 20px;
  font-size: 36px;
  padding-left: 100px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
</style>

